{% load static %}
<div class="container">
  <header class="d-flex align-items-center flex-wrap justify-content-center py-3 mb-4">
    {% with request.resolver_match.view_name as view_name %}
    <a href={% url 'homepage:home' %} {% if view_name == 'homepage:home' %} onclick="return false;" {% endif %}  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" width="60" height="60" src="{% static 'media/logo.svg' %}" alt="[ожидалось лого]">
    </a>
    <ul class="nav">
    <li class="nav-item d-flex align-items-center"><a href="{% url 'homepage:home' %}" class="{% if view_name == 'homepage:home' %}nav-link active disabled{% else %} nav-link {% endif %}">Главная</a></li>
    <li class="nav-item d-flex align-items-center"><a href="{% url 'aboutpage:about' %}" class="{% if view_name == 'aboutpage:about' %}nav-link active disabled{% else %} nav-link {% endif %}">Что это?</a></li>
    {% if user.is_authenticated %}
    <div class="dropdown-menu">
        <button class="btn btn-primary menu-btn"><a class="links-hidden" >Моя информация</a></button>
        <div class="menu-content">
            <a class="links-hidden" href="{% url 'departments:liked_dpts' %}">Понравившиеся</a>
            <a class="links-hidden" href="#">Изменить баллы</a>
            <a class="links-hidden" href="#">Сменить пароль</a>
            <a class="links-hidden" href="#">Выход</a>
        </div>
    </div>
    {% else %}
    <li class="nav-item d-flex align-items-center"><a type='button' href="#" class="{% if view_name == 'users:signup' %}nav-link active disabled{% else %} btn btn-primary  {% endif %}">Регистрация</a></li>
    <li class="nav-item d-flex align-items-center"><a type='button' href="#" class="{% if view_name == 'users:login' %}nav-link active disabled{% else %} btn btn-outline-dark me-2 {% endif %}">Вход</a></li>
    {% endif %}
{% endwith %}
  </header>
</div>  