.idea/*
.idea/

__pycache__/

.env
db.sqlite3

venv/
env/
virtualvenv/

generate_requirements.py
sort_imports.py
change_quotes.py

old_migrations/
/intensive_django/media/
sent_emails/
static/
.vscode/