{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="parent-form-holder-signup">
            <h5 class='display-5'>Изменить баллы</h5>
            <form method="POST">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                <input class="form-control" list="datalistOptions"
                       id="exampleDataList" placeholder="Выберите регион...">
                <datalist id="datalistOptions">
                    {% for region in regions %}
                        <option hidden="hidden" value="{{ region }}"></option>
                    {% endfor %}
                </datalist>
                <div class='row signup-form-holder'>
                {% for field in form %}
                <div class='col-md-2'>
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                </div>
                <div class="form-btn-holder d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-primary">Далее!
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}