{% extends 'base.html' %}
{% block title %}
    Регистрация | UniChoose
{% endblock %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="form-holder">
            <form method="POST">
                <h5 class='display-5'>Регистрация</h5>
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}

                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>

                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}

                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}
                <div class="row form-btn-holder">
                    <button type="submit" class="btn btn-primary btn-wide">Далее!</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}