<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %}unichoose{% endblock %}</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Manrope'
          rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    {% block head %}
    {% endblock %}
</head>
<body>
{% include "includes/header.html" %}
<main>
    {% block content %}
        <p>Здесь должен был быть контент</p>
    {% endblock %}
</main>
</body>
<div class="d-flex align-items-center">
    {% include "includes/footer.html" %}
</div>
</html>