{% extends 'base.html' %}
{% block title %}
    Что это? | UniChoose
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="display-5"> Что это?</h1>
        <h4 class="display-7">UniChoose - это сервис, который поможет вам найти университет, который будет идеально подходить именно вам.
            Мы предлагаем тысячи вузов в России, а также информацию о направлениях обучения, условиях поступления, комфортности обучения и многом другом.
            С помощью UniChoose вы сможете сделать выбор, основываясь на реальных данных и рейтингах студентов. Наш сервис поможет вам найти университет, который станет для вас хорошим началом в будущем.</h4>
    </div>
{% endblock %}
