/* markup */
body{
    font-family: 'Manrope';
    font-style: normal;
    min-height: 100vh;
    padding-bottom:100px;
}

footer{
    position:absolute;
    bottom:0;
    width:70%;
}
main{
    min-height: 75vh;
    display: flex;
    align-items: center;
}

/* buttons */
.btn{
    margin-left: 5px;
    margin-right: 5px;
    width: 212px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    --bs-btn-active-border-color: #6b5ed7;
    --bs-btn-active-bg: #6b5ed7;
    --bs-btn-hover-border-color: #36325c;
}
.btn-outline-dark{
    color: #242141;
    outline-color: #242141;
    --bs-btn-hover-bg: #36325c;
}
.btn-primary{
    color: #ffffff;
    background-color: #242141;
    outline-color: #242141;
    --bs-btn-border-color: #242141;
    --bs-btn-hover-bg: #36325c;
}
/* links */
.nav-link{
    color: #242141;
    font-size: large;
    font-weight: 600;
    --bs-nav-link-hover-color: #36325c;
    border: 2px solid transparent;
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #36325c;
}
.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s;
}
.nav-link.disabled{
    color: #242141;
}

/* dropdown */
.menu-btn {
    margin:0%;
    background-color: #242141;
    color: white;

 }
 .dropdown-menu {
    padding:0%;
    position: relative;
    display: inline-block;
    border: 0px;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color: #242141;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px    ;
    min-width: 212px;
    z-index: 1;
    text-align: center;
 }
 .links,.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
 }
 .links-hidden{
    display: inline-block;
 }
 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    color: white;
 }

 .links-hidden::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
}
.links-hidden:hover::after{
    display: block;
    width: 100%;
    transition: width 0.3s;
}
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    background-color: #242141;
    border-color: #242141;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
 }
 /* texts */
 .display-5{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 48px;
    color: #242141;
 }
 #footer-text{
    color: #242141;
    font-weight: bold;
 }

/* department card */
.dep-card{
    border: #242141 2px solid;
    border-radius: 10px;
    max-width: 500px;
}
.dep-card-header{
    padding:10px;
    background: #242141;
    color: white;
    border-radius: 7px;
    border-bottom: #242141 2px solid;
    transition: background 0.4s, height 0.4s;
}
.dep-card-title{
    font-weight: bold;
    font-size: 18px;
}
.dep-card-subtitle{
    font-size: 14px;
}
.dep-card-main{
    display:flex;
    padding: 10px;
}
.dep-card-score{
    margin-left:10px;
    display:column;
}